<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IDS Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="container">

        <h1>IDS DASHBOARD</h1>

        <div class="charts">

            <div class="chart-box">
                <h3>Répartition des attaques</h3>
                <canvas id="attackChart"></canvas>
            </div>
        
            <div class="chart-box">
                <h3>Évolution des attaques dans le temps</h3>
                <canvas id="timeChart"></canvas>
            </div>
        
            <div class="chart-box">
                <h3>Top IP sources d’attaques</h3>
                <canvas id="ipChart"></canvas>
            </div>
        
        </div>

        <div class="filters">

            <select id="typeFilter">
                <option value="all">All types</option>
                <option value="web">Web</option>
                <option value="auth">Auth</option>
            </select>

            <select id="severityFilter">
                <option value="all">All severity</option>
                <option value="5">Critical (5)</option>
                <option value="4">High (4)</option>
                <option value="3">Medium (3)</option>
                <option value="2">Low (2)</option>
            </select>

            <input id="searchInput" placeholder="Search IP / user / attack">

        </div>

        <table>
            <thead>
                <tr>
                    <th onclick="setSort('timestamp')">Timestamp</th>
                    <th onclick="setSort('subtype')">Subtype</th>
                    <th onclick="setSort('type')">Type</th>
                    <th onclick="setSort('ip')">IP</th>
                    <th onclick="setSort('username')">User</th>
                    <th onclick="setSort('severity')">Severity</th>
                </tr>
            </thead>

            <tbody id="logs"></tbody>
        </table>

    </div>

    <script src="/static/dashboard.js"></script>

</body>
</html>